@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');

.top-buffer {
	margin-top: 20px;
}

body {
  background-color: #0dcaf0;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background-image: url(https://www.who.int/images/default-source/infographics/fruit-bats-nipah-virus-abidjan-ivory-coast.jpg?sfvrsn=246d0ee_2);
  background-blend-mode: multiply;
  background-color: #dfcdcd;
  background-size: cover;
  background-blend-mode: multiply;
}

.textt h1 {
	text-align: center;
	margin-top: 40px;
	color: black;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

.sl {
	vertical-align: middle;
	background-size: cover;
	margin-top: 500px;
	width: 100%;
	background-size: cover;
}

.reg {
	text-align: center;
	margin-top: 60px;
}

#bott {
	float: left;
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	width: 100%;
	text-align: center;
	background-color: #fafafa;
	opacity: 0.5;
	background-size: 100%;
	background-blend-mode: multiply;
	font-color: #000000;
	font-family: SuezOne;
}

#bott span {
	float: left;
	width: 100%;
	font-size: 2em;
	margin-top: 10px;
}

#bott h2 {
	font-size: 4em;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

.reg h1 {
	font-size: 4em;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	color: white;
}

.sshp .card {
	line-height: 5px;

}

.mb-3 {
	color: white;
}

.submit {
	color: white;
}

#f .container {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  background-size: 100%;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 10px;
  background-size: cover;
  opacity: 0.5;
}

#f i:hover {
  color: #ff7878;
}

.row {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row img {
	width: 100%;
}

.sponge .container {
  text-align: center;
  padding: 50px 50px;
}

.row .col img {
	padding: 25px 25px;
	width: 380px;
	height: 280px;
}

.row .col .text {
	color: green;
	font-size: 2em;

}

